<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Volt Solid Example">Volt Solid Example</.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="module" src={Volt.entry_path(SolidExampleWeb.Endpoint)}></script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
